<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">

    <link rel="stylesheet" href="styles/imageStyle.css">
    <title>Find love in the Nic of time</title>
</head>
<body>
<div class="container col-lg-9 col-md-12">
    <nav class="navbar navbar-light bg-light">
        <a>Find love in the Nic of time</a>
        <a href="/328/dating/admin">Back</a>
    </nav>
</div>
    <div class="container border rounded my-3">
        <div class="row">
            <div class="col-sm-12 pt-3">
                <h1>Members</h1><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pt-2 ">
                <p>ID: {{@member['id']}}</p>
                <p>Name: {{@member['fname']}} {{@members['lname']}}</p>
                <p>Email: {{@member['age']}}</p>
                <p>Phone: {{@member['phone']}}</p>
                <p>Email: {{@member['email']}}</p>
                <p>State: {{@member['state']}}</p>
                <p>Gender: {{@member['gender']}}</p>
                <p>Seeking: {{@member['seeking']}}</p>
                <check if="{{@member['premium']}} == 1" >
                    <p>Premium Member: Yes</p>
                </check>
                <check if="{{@member['premium']}} == 0" >
                    <p>Premium Member: No</p>
                </check>
                <check if="{{@member instanceof PremiumMember}}">
                    <p>Interests: {{@member['interests']}}</p>
                </check>
                <check if="{{@member instanceof Member}}"></check>
            </div>
        </div>
    </div>

</body>
</html>