<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Setup Profile</title>
</head>
<body>
<div class="container col-lg-9 col-md-12">
    <nav class="navbar navbar-light bg-light">
        <a>Find love in the Nic of time</a>
    </nav>
</div>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row col-12">
        <h1>Profile</h1>
    </div>
    <hr class="alert-secondary">
        <form action="#" method="POST">
            <div class="row">
                <div class="col-6">
                    <div>
                        <!--Email -->
                        <label class="font-weight-bold">Email:</label>
                        <input name="email" type="text" id="email" class="form-control">
                        <check if="@validEmail != true && !empty(@_POST)"><p class="alert-danger font-weight-bold">
                            Must be a valid email</p></check>

                        <br>

                        <!-- State -->
                        <label class="font-weight-bold">State</label>
                        <br>
                        <select class="w-100" name="state">
                            <option>Select a State</option>
                            <repeat group="{{ @SESSION.states }}" value="@state">
                                <option value={{"@state"}}>{{ @state }}</option>
                            </repeat>
                        </select>
                        <br><br>
                        <!--Seeking -->
                        <label class="font-weight-bold">Seeking</label>
                        <br>
                        <label class="font-weight-bold">
                            <input name="seek" type="radio" value="male" {{@male}}>&nbsp;Male
                        </label>
                        <label class="font-weight-bold">
                            &nbsp;&nbsp;
                            <input name="seek" type="radio" value="female" {{@female}}>&nbsp;Female
                        </label>
                        <br>
                    </div>
                </div>

                <div class="col-6">
                    <label class="font-weight-bold">Biography</label>
                    <textarea name="bio" class="form-control rounded h-50 " value="bio" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <input type="submit" value="Next >" class="btn btn-primary">
                </div>
            </div>
        </form>
</div>
</body>
</html>