<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/imageStyle.css">
    <title>Summary</title>
</head>
<body>
<div class="container col-lg-9 col-md-12">
    <nav class="navbar navbar-light bg-light">
        <a>Find love in the Nic of time</a>
    </nav>
</div>
<div class="container col-lg-8 col-md-12 border border-info rounded p-4 mt-4">
    <div class="row">
        <div class="col-6">
            <div class="border rounded">
                <div class="border-bottom">
                    <p class="p-2 my-1">Name: {{@SESSION.first}} {{@SESSION.last}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">Gender: {{@SESSION.gender}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">Age: {{@SESSION.age}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">phone: {{@SESSION.phone}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">Email: {{@SESSION.email}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">State: {{@SESSION.state}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">Seeking: {{@SESSION.seek}}</p>
                </div>
                <div class="border-bottom">
                    <p class="p-2 my-1">Interests: {{@SESSION.allInterest}}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
            <img id='avatar' src="images/avatar.jpg" alt="profile img" class="rounded w-75">
            </div>
            <br>
            <label>Biography: </label>
            <p>{{@SESSION.bio}}</p>
        </div>
    </div>
    <div class="row">
            <input type="submit" name="submit" value="Contact Me!" class="btn btn-primary mx-auto">
    </div>
</div>
</body>
</html>